h1{
  color: blue
}
.important{
  color:red;
}
.unimportant{
  background-color: blue
}
body{
  background-color: black
}
body{
  color:green
}
.unimportant{
  color:white
}
.unimportant{
  background-color: black
}
h1{
  color:white
}
li{
  color:red
}
